body{
background:#050816;
color:white;
text-align:center;
font-family:sans-serif;
}

.bg{
position:fixed;
inset:0;
background:radial-gradient(circle,#38bdf8,transparent);
z-index:-2;
}

.grid{
position:fixed;
inset:0;
background-image:linear-gradient(#ffffff10 1px,transparent 1px);
background-size:50px 50px;
opacity:0.2;
z-index:-1;
animation:move 10s linear infinite;
}

@keyframes move{
from{transform:translateY(0)}
to{transform:translateY(50px)}
}

.card{
display:inline-block;
padding:20px;
margin:10px;
background:rgba(255,255,255,0.05);
border:1px solid #38bdf8;
border-radius:10px;
}
